/** Generales **/
body{

    font-size: 100%;
    color: #004587;
}

body .container-fluid{

    padding: 0;
}

#app{

    overflow: hidden;
}

.body{

    overflow-y: scroll;
    overflow-x: hidden;
}

.body h3{

    position: relative;
    z-index: 5;
}

 body section.container-fluid{

    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
    overflow-y: hidden;
    margin-bottom: -4em;
    position: relative;
    z-index: 5;
} 

body section.container{

    height: 92vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: hidden;
} 

.header{

    height: 33.6vh;
    background-image: url("../assets/images/header.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: right;
    padding-top: 3em;
    padding-left: 3em;
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
}

section.container-fluid a:hover{

    text-decoration: none;
}

.header h1{

    color: #009FE3;
    font-size: 2em;
    margin-bottom: 10%;
}

.header img{

    width: 100%;
}

.icono-anterior, .icono-proximo{

    width: 3em!important;
}

.body{

    margin-top: -2.5em;
}

.body img{

    position: relative;
    z-index: 4;
}

/* footer .enlaces div:focus-within{

    background-color: #004587;
} */

/** Index **/

.index.container-fluid{

    background-color: #EAF5FB;
    padding: 0;
    background-image: url(../assets/images/fondo-index.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.index .logo img{

    width: 40%;
}

.index .logo h3{

    font-size: 2em;
    padding: .8em;
    font-weight: 700;
}

.index .mar-ballena{

    margin-bottom: 5%;
}

/* .index .mar-ballena{

    width: 100%;
    background-image: url("../assets/images/fondo-index.png");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    height: 56vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 0;
} */

.index .chiesi{

    display: flex;
    align-items: baseline;
    justify-content: space-around;
    padding: .5em;
    height: 7em;
}

.index .chiesi p{

    color: #54ABE4;
    font-weight: 600;
    font-size: 1em;
}

.index .chiesi img{

    width: 65%;
}

/** Footer **/

footer{

    /* margin-top: -6em; */
    position: relative;
    z-index: 7;
}

footer .enlaces{

    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
/*     background-color: #E3F1FA; */
}
.index footer .enlaces{

    background-color: transparent;
}
footer .enlaces a:hover{

    color: #fff;
}

footer .enlaces div:focus{

    background-color: chartreuse;
}

.sup-footer{

    width: 100%;
}

footer .enlaces div{

    background-color: #3AA7DF;
    height: 3em;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding: .5em;
    width: 22%;
    text-align: center;
    box-shadow: inset 2px 1px 2px 1px rgba(0,0,0,.6);
    font-size: 1.3em;
    line-height: 1;
}

footer div a{

    color: #fff;
    font-weight: 600;
    text-decoration: none;

}

footer div a:hover{

    text-decoration: none;
}

/** Paginas **/
.hy-eficacia .header img{

    width: 100%;
}

.hy-eficacia .body{

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: .5em;
}

.hy-eficacia .body img.central{

    width: 56%!important;
}

.hy-eficacia .body .images{

    text-align: center;
}

.hy-eficacia .body .images img.icono-proximo{

    float: right;
}

.hy-eficacia .body .images img.icono-anterior{

    float: left;
}

.hy-eficacia .body p{

    font-size: .5em;
    width: 80%;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 0;
}

.hy-eficacia .body img:first-child{

    width: 72%;
}

.hy-eficacia .body .caja-hyaneb img{

    width: 59%;
}

.hy-eficacia .body img{

    width: 60%;
    position: relative;
    z-index: 5;
}

.hy-eficacia-1 .body img{

    width: 57%;
}

.hy-eficacia-1 .body .images{

    display: flex;
    align-items: center;
    justify-content: center;
}

.body .images .icono-anterior{

    position: absolute;
    left: 0;
}

.body .images .icono-proximo{

    position: absolute;
    right: 0;
}
.hy-admon .body .images{

    display: flex;
    justify-content: center;
    align-items: center;

}

.hy-admon .body .icono-proximo{

    position: absolute;
    right: 0em;
}

.hy-admon .body img{

    width: 70%;
}

.hy-admon .body h3{

    line-height: 1;
    text-align: center;
    width: 30%;
    font-weight: 700;
}

.hy-admon .body h3 span{

    font-weight: 400;
}

.hy-admon .body p{

    font-size: .5em;
    font-weight: 700;
    width: 30%;
    text-align: center;
}

.hy-admon-1 .body .images{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hy-admon-1 .body img {
    width: 80%;
}

.hy-admon-2 .body img {
    width: 46%;
}

.hy-admon-2 .body .images{

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hy-admon-3 .body img{

    width: 60%;
}

.hy-admon-3 .body .images .icono-anterior{

    position: absolute;
    left: 0;
}

p.ha3{

    width: 100%!important;
    margin-top: 3em;
}

.hy-uso .body{

    margin: 0 auto;
    width: 90%;
    /* margin-top: -4em; */
}

.hy-uso .body h3{

    color: #04BBF3;
}

.hy-uso .body p{

    font-weight: 400;
    line-height: 1.2;
    margin-bottom: .5em;
}

.hy-uso .body span{

    font-weight: 600;
}

.hy-covid .header{

    padding-top: 1.5em;
}

.hy-covid .body{

    text-align: center;
}

.hy-covid .body img{

    width: 47%;
    position: relative;
    z-index: 5;
}

.hy-covid .body a.enlace{

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .6em;
    font-weight: 500;
    letter-spacing: .1px;
    line-height: 1;
    text-decoration: none;
}
.hy-covid .body a.enlace img{

    width: 5%;
}